body {
  background-color: rgba(46, 139, 86, 0.452);
}

th {
  width: 200px;
  color: white;
}

button {
  padding: 10px;
}

#errors {
  width: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 5, 5);
}

.flex-container {
  height: 50%;
  flex-direction: column;
}

ul {
  height: 50%;
  padding: 20px;
  position: sticky;
  float: right;
}